{% extends 'flatpages/base.html' %}

{% block title %}
Search
{% endblock title %}

{% block content %}
   <h1>Поиск</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
{% extends 'flatpages/base.html' %}
{% load custom_tags %}
{% block title %}
Posts
{% endblock title %}

{% block content %}

<form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
</form>
<hr>
<ul class="list-articles">
    {% for p in posts %}
    <li><h2>{{p.title}}</h2>
        <div class='body-upload'>
        {{p.upload|safe}}
        </div>
    <p>{{p.text|truncatewords:50|safe}}</p>
    <div class="clear"></div>
    <p class="link-read-post"><a href="{% url  'post_detail' p.id %}">Читать объявление</a></p>

    </li>
    {% endfor %}
</ul>
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

</ul>
</nav>

{% endblock %}

   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


{% endblock content %}



          <!-- {% if request.user.is_authenticated %}
      <h2>Действия</h2> -->

  <!---  <p class="link-create-post"><a href="{% url 'post_create' %}">Добавить объявление</a></p>
    <p class="link-delete-post"><a href="{% url 'post_delete' posts %}">Удалить объявление</a></p>
    <p class="link-delete-post"><a href="{% url 'post_update' post.id %}">Редактировать</a></p>
    {% endif %} -->